.home-container-desktop {
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 4rem 8rem 0 8rem;
    overflow: hidden;
}

.top-most-content {
    height: 70vh;
    width: 100%;
    display: flex;
    gap: 16px;
    padding-bottom: 2rem;
}

.top-main-article-card {
    width: 60%;
    height: 100%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: 6px;
    > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.5s ease;
        &:hover {
            transform: scale(1.1);
        }
    }
    > div {
        position: absolute;
        top: 80%;
        left: 3%;
        color: #fff;
        > p {
            display: inline-block;
            background-color: #f21d44;
            color: #fff;
            padding: 0 0.3rem;
            border-radius: 4px;
            &:hover {
                background-color: #a3a3a3;
            }
        }
        > h1 {
            font-size: 2rem;
            font-weight: 600;
            cursor: pointer;
            &:hover {
                color: #f21d44;
            }
        }
        > div {
            display: flex;
            gap: 20px;
            > p {
                font-size: 1rem;
                cursor: pointer;
                &:hover {
                    color: #f21d44;
                }
            }
        }
    } 
}

.top-side-article-card {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.top-side-articel-card-items {
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.5s ease;
        border-radius: 6px;
        overflow: hidden;
        &:hover {
            transform: scale(1.1);
        }
    }
    > div {
        position: absolute;
        bottom: 8%;
        left: 3%;
        color: #fff;
        > p{
            display: inline-block;
            background-color: #f21d44;
            color: #fff;
            padding: 0 0.3rem;
            border-radius: 4px;
            &:hover {
                background-color: #a3a3a3;
            }
        } 
        > h1 {
            font-size: 1.6rem;
            font-weight: 600;
            &:hover{
                color: #f21d44;
            }
        }
    }
}

.item-1 {
    > div {
        top: 53% !important;
    }
}

.para-text {
    display: flex;
    gap: 20px;
    > p {
        &:hover {
            color: #f21d44;
        }
    }
}

.hot-topics-fashion-heading-container {
    display: flex;
    align-items: center;
    gap: 8%;
    width: 100%;
    padding-bottom: 2.8rem;
    position: relative;
}

.hot-topics-heading-line {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 65%;
    > h1 {
        font-size: 1.6rem;
        display: inline-block;
        font-weight: 600;
    }
    > div {
        background-color: #d4d4d4;
        height: 1.5px;
        width: 80%;
        position: relative;
    }
}

.left-right-button {
    position: absolute;
    left: 57%;
    display: flex;
    align-items: center;
    gap: 8px;
}

.left-btn {
    font-size: 24px;
    padding: 4px;
    background-color: #cbcbcb;
    color: #fff;
    display: flex;
    align-items: center;
    &:hover {
        color: #fff;
        background-color: #68a2d7;
        cursor: pointer;
    }
}

.right-btn {
    font-size: 24px;
    padding: 4px;
    background-color: #2d2d2d;
    color: #fff;
    display: flex;
    align-items: center;
    &:hover {
        background-color: #68a2d7;
        color: #fff;
        cursor: pointer;
    }
}

.fashion-heading-line {
    display: flex;
    align-items: center;
    width: 35%;
    gap: 10px;
    > h1 {
        font-size: 1.6rem;
        font-weight: 600;
    } 
    > div {
        background-color: #d4d4d4;
        height: 1.5px;
        width: 80%;
    }
}

.hot-topic-fashion-details-container {
    height: 60vh;
    width: 100%;
    display: flex;
    gap: 34px;
    padding-bottom: 2.8rem;
}

.eating-organic {
    height: 100%;
    width: calc(100% / 3);
    background:linear-gradient(to bottom, rgba(0,0,0,0) 20%, rgba(0,0,0,1)), url('https://rishidemos.com/magazine/wp-content/uploads/sites/47/2022/02/alexander-mils-5X8oLkzZ1fI-unsplash-2-1.jpg');
    background-size: cover;
    position: relative;
    border-radius: 6px;
}

.eating-organic-text {
    position: absolute;
    bottom: 7%;
    left: 5%;
    color: #fff;
    > h1 {
        font-size: 1.6rem;
        padding-bottom: 4px;
        font-weight: 600;
    }
    > div {
        display: flex;
        gap: 21px;
        padding-bottom: 4px;
        > p {
            font-size: 14px;
        }
    }
}

.hot-topic-articles {
    width: calc(100% / 3);
    height: 100%;
    > ul {
        height: 100%;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        > li {
            > h1 {
                font-size: 22px;
                font-weight: 600;
                color: #393939;
                padding-bottom: 12px;
                &:hover {
                    color: #f21d44;
                }
            }
            > div {
                display: flex;
                gap: 18px;
                > p {
                    color: #8e8e8e;
                    font-size: 16px;
                    &:hover {
                        color: black;
                    }
                }
            }
        }
    }
}

.features-articles {
    height: 100%;
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.truth-about-article {
    background: linear-gradient(to bottom, rgba(0,0,0,0) 20%, rgba(0,0,0,1)), url('https://rishidemos.com/magazine/wp-content/uploads/sites/47/2022/02/pexels-anna-shvets-3852159-1.jpg');
    background-size: cover;
    height: 60%;
    position: relative;
    border-radius: 4px;
    > div {
        position: absolute;
        bottom: 5%;
        left: 8%;
        > h1 {
            font-size: 18px;
            font-weight: 600;
            color: #fff;
            padding-bottom: 13px;
        }
        > div {
            display: flex;
            gap: 23px;
            color: #fff;
            font-size: 13px;
            padding-bottom: 12px;
        }
        > p {
            padding-top: 14px;
            color: #fff;
            padding-bottom: 12px;
            text-decoration: underline;
            font-size: 12px;
        }
    }
}

.facts-details-article {
    height: 20%;
    width: 100%;
    display: flex;
    gap: 19px;
    > img {
        border-radius: 4px;
        width: 30%;
    }
    > div {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        > h1 {
            font-size: 18px;
            color: #393939;
            font-weight: 600;
        }
        > div {
            display: flex;
            gap: 14px;
            font-size: 12px;
            padding-bottom: 10px;
            color: #8e8e8e;
        }
    }
}

.hot-topics-heading-container {
    width: 100%;
    display: flex;
    align-items: center;
    padding-bottom: 2rem;
}

.next-heading-hot-topic {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 14px;
    position: relative;
    > h1 {
        display: inline-block;
        font-size: 1.6rem;
        font-weight: 600;
        white-space: nowrap;
    }
    > div {
        background-color: #d4d4d4;
        height: 1.5px;
        width: 100%;
        position: relative;
    }
}

.next-l-r-btn {
    position: absolute !important;
    left: unset !important;
    right: 10%;
    display: flex;
    align-items: center;
    gap: 12px;
}

.environment-hot-topics-card-contianer {
    height: 35vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-bottom: 2.5rem;
}

.fashion-lifestyle-tech-heading-container {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 19px;
    padding-bottom: 2rem;
}

.line-heading {
    width: calc(100% / 3);
    display: flex;
    align-items: center;
    gap: 11px;
    > h1 {
        font-size: 1.6rem;
        font-weight: 600;
        white-space: nowrap;
    }
    > div {
        background-color: #d4d4d4;
        width: 100%;
        height: 1.8px;
    }
}

.diff-category-articel-cards {
    width: 100%;
    height: 75vh;
    display: flex;
    gap: 21px;
    padding-bottom: 3rem;
    > div {
        display: flex;
        flex-direction: column;
        gap: 31px;
        width: calc(100% / 3);
        height: 100%;
    }
}

.advertisement-card {
    background-image: url('https://rishidemos.com/magazine/wp-content/uploads/sites/47/2022/02/ads-banner.jpg');
    background-size: cover;
    width: 100%;
    height: 15vh;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    gap: 32px;
    > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 29px;
        > h1 {
            font-size: 1.7rem;
            font-weight: 700;
        }
        > p {
            font-size: 1rem;
        }
    }
    > button {
        background-color: #f21d44;
        padding: 12px 22px;
        color: #fff;
        border-radius: 12px;
        &:hover {
            color: #fff;
        }
    }
}

.dont-miss-heading-tech-line-container {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 26px;
    padding-bottom: 3rem;
    padding-top: 1rem;
}

.dont-miss-heading {
    width: 70%;
    height: 3vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 11px;
    > h1 {
        display: inline-block;
        white-space: nowrap;
        font-size: 1.6rem;
        font-weight: 600;
    }
    > div {
        background-color: #cbcbcb;
        height: 2px;
        width: 100%;
    }
}

.tech-heading {
    width: 30%;
    height: 3vh;
    display: flex;
    align-items: center;
    gap: 12px;
    > h1 {
        display: inline-block;
        font-size: 1.6rem;
        font-weight: 600;
    }
    > div {
        background-color: #cbcbcb;
        height: 2px;
        width: 100%;
    }
}

.dont-miss-tech-articel-details {
    height: 140vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 21px;
    margin-bottom: 8rem;
}

.dont-miss-articles-details {
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 18px;
}

.dont-miss-truth-beauty {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 28px;
}

.dont-miss-image-contianer {
    width: 30%;
    height: 100%;
    > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 6px;
    }
}

.dont-miss-details-container {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 12px;
    h1 {
        font-size: 1.7rem;
        font-weight: 600;
    }
    > div {
        display: flex;
        align-items: center;
        gap: 21px;
    }
    > p {
        font-size: 1.1rem;
        font-weight: 500;
    }
}

.tech-articels-details {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
}

.which-camera-6-s21 {
    height: calc(80% / 3);
    width: 100%;
    > div {
        position: relative;
        overflow: hidden;
        border-radius: 4px;
        width: 100%;
        height: 100%;
        > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        > div {
            position: absolute;
            bottom: 5%;
            left: 6%;
            color: #fff;
            font-family: sans-serif;
            > h1 {
                font-size: 1.3rem;
                font-weight: 600;
            }
            > div {
                font-size: 14px;
                display: flex;
                gap: 16px;
                padding: 12px 0;
            }
            > p {
                padding: 8px 0;
                font-size: 14px;
                text-decoration: underline;
            }
        }
    }
}

.tech-2-articels-cards {
    width: 100%;
    height: calc(80% / 3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
}

.tech-2-article-card {
    width: 100%;
    height: 35%;
    display: flex;
    align-items: center;
    gap: 12px;
    > img {
        width: 30%;
        height: 100%;
        object-fit: cover;
        border-radius: 4px;
    }
    > div {
        width: 70%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        > h1 {
            font-size: 1.3rem;
            font-weight: 600;
        }
    }
}

.popular-category-line-heading {
    width: 100%;
    height: calc(80% / 3);
    display: flex;
    flex-direction: column;
    gap: 21px;
    > div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 12px;
        > h1 {
            font-size: 1.3rem;
            white-space: nowrap;
        }
        > div{
            background-color: #a3a3a3;
            height: 2px;
            width: 100%;
        }
    }
    > ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 21px;
        > li {
            display: flex;
            justify-content: space-between;
            > p {
                font-size: 1.1rem;
                font-weight: 500;
                font-family: sans-serif;
            }
        }
    }
}

@media screen and (max-width: 1170px) {
    .home-container-desktop {
        padding: 4rem 1rem 0 1rem;
    }
}

@media screen and (591px <= width <= 768px) {
    .top-most-content {
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
    .top-main-article-card {
        width: 100%;
        height: 66.66%;
        > div {
            top: 63%;
        }
    }
    .top-side-article-card {
        width: 100%;
        height: 66.66%;
    }
    .item-1 {
        > div {
            top: 67% !important;
        }
    }
    .top-side-articel-card-items {
        > div {
            bottom: 5%;
        }
    }
    .hot-topics-heading-line {
        width: 80%;
    }
    .left-right-button {
        left: 88%;
    }
    .fashion-heading-line {
        display: none;
    }
    .hot-topic-fashion-details-container {
        display: flex;
        flex-direction: column;
        height: 150vh;
    }
    .eating-organic {
        width: 100%;
    }
    .hot-topic-articles {
        width: 100%;
    }
    .features-articles {
        width: 100%;
        height: 100%;
        justify-content: unset;
        gap: 22px;
    }
    .truth-about-article {
        height: 100%;
    }
    .next-l-r-btn {
        right: 3%;
    }
    .environment-hot-topics-card-contianer {
        height: 250vh;
        display: flex;
        flex-direction: column;
    }
    .fashion-lifestyle-tech-heading-container {
        display: none;
    }
    .diff-category-articel-cards {
        height: 240vh;
        display: flex;
        flex-direction: column;
        > div {
            width: 50%;
        }
    }
    .article-card-item {
        width: 100%;
    }
    .dont-miss-heading {
        width: 100%;
    }
    .tech-heading {
        display: none;
    }
    .dont-miss-tech-articel-details {
        height: 310vh;
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
    }
    .dont-miss-articles-details {
        gap: 21px;
    }
    .tech-articels-details {
        width: 100%;
        justify-content: unset;
        gap: 21px;
    }
    .tech-2-articels-cards {
        justify-content: flex-start;
        gap: 21px;
        height: unset;
    }
}

@media screen and (max-width: 590px) {
    .home-container-desktop{
        padding: 6rem 1rem 28rem 1rem;
    }
    .top-most-content {
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
    .top-main-article-card {
        width: 100%;
        height: 66.66%;
        > div {
            top: 33%;
        }
    }
    .top-side-article-card {
        width: 100%;
        height: 66.66%;
    }
    .item-1 {
        > div {
            top: 45% !important;
        }
    }
    .top-side-articel-card-items {
        > div {
            bottom: 5%;
        }
    }
    .hot-topics-heading-line {
        width: 80%;
        > h1 {
            white-space: nowrap;
        }
    }
    .left-right-button {
        left: 80%;
    }
    .fashion-heading-line {
        display: none;
    }
    .hot-topic-fashion-details-container {
        display: flex;
        flex-direction: column;
        height: 150vh;
    }
    .eating-organic {
        width: 100%;
    }
    .hot-topic-articles {
        width: 100%;
        > ul {
            gap: 12px;
        }
    }
    .features-articles {
        width: 100%;
        height: 100%;
        justify-content: unset;
        gap: 22px;
    }
    .truth-about-article {
        height: 100%;
    }
    .next-l-r-btn {
        right: 3%;
    }
    .environment-hot-topics-card-contianer {
        height: 250vh;
        display: flex;
        flex-direction: column;
    }
    .fashion-lifestyle-tech-heading-container {
        display: none;
    }
    .diff-category-articel-cards {
        height: 260vh;
        display: flex;
        flex-direction: column;
        > div {
            width: 80%;
        }
    }
    .advertisement-card {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 25vh;
        align-items: flex-start;
        > button {
            margin-left: 24px;
        }
    }
    .article-card-item {
        width: 100%;
    }
    .dont-miss-heading {
        width: 100%;
    }
    .tech-heading {
        display: none;
    }
    .dont-miss-tech-articel-details {
        height: 290vh;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .dont-miss-articles-details {
        width: 100%;
        gap: 21px;
    }
    .tech-articels-details {
        width: 100%;
        justify-content: unset;
        gap: 21px;
    }
    .tech-2-articels-cards {
        justify-content: flex-start;
        gap: 21px;
        height: unset;
    }
}